<launch>
  <node name="camera" pkg="cv_camera" type="cv_camera_node" output="screen" >
    <param name="device_id" value="0"/>
      <!--
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="camera" />
    <param name="io_method" value="mmap"/>
-->
    <remap from="/cv_camera/image_raw" to="/camera/image_raw" />
  </node>
  <!--
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/camera/image_raw"/>
    <param name="autosize" value="true" />
  </node>
  -->
</launch>
