<launch>
  <node name="camera" pkg="cv_camera" type="cv_camera_node" output="screen" >
    <param name="device_id" value="0"/>
    <!-- <param name="cv_cap_prop_frame_width" value="640.0" /> -->
    <!-- <param name="cv_cap_prop_frame_height" value="480.0" /> -->
    <!-- <remap from="/cv_camera/image_raw" to="/camera/image_raw" /> -->
  </node>

      <!--
-->
</launch>
